@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --font-Homemade: "Homemade Apple", cursive;
  --font-IMFell: "IM Fell English", serif;
  --font-Gentium: "Gentium Plus", serif;
  --font-Dancing: "Dancing Script", cursive;
}


:root {
  --primary1-color: #666666;
  --primary2-color: #709370;
  --border-color: #dbdbdb;
  --outline-color: #999999;
  --active-color: #5B961F;
  --pink-color: #ffe6ea;
  --text-color: #959595;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--text-color) !important; 
  padding: 1rem;
  border-radius: 9999px; 
  transition: background-color 0.3s;
}

#about_me .swiper-button-next,
#about_me .swiper-button-prev {
  display: none;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--active-color)!important; 
}


#home input::placeholder {
  font-family: var(--font-Dancing);
  letter-spacing: 1.5px;
  color: #838383; 
  font-size: 18px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.ant-pagination-item-active {
  border-color: var(--active-color) !important;
  font-size: 16px;
}

.ant-pagination-item {
  font-size: 16px;
}

.ant-pagination-item:hover {
  background-color: var(--active-color) !important;
  color:white;
}

.ant-pagination-item-link:hover {
  transform: scale(1.5);
  background-color: transparent !important;
}

.ant-table-thead .ant-table-cell {
  font-size: 18px;
}